
# FVM Version Cache
.fvm/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/local.properties
android/.gradle/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
*.iml
